/build
/client/build
/server/GateServer/GateServer
/server/GateServer/packages
/server/GateServer/x64
/server/GateServer/.vs
/server/VerifyServer/node_modules
/server/StatusServer/StatusServer
/server/StatusServer/packages
/server/StatusServer/x64
/server/StatusServer/.vs