/build
/client/build
/server/GateServer/GateServer
/server/GateServer/packages
/server/GateServer/x64
/server/GateServer/.vs
/server/VerifyServer/node_modules
/server/StatusServer/StatusServer
/server/StatusServer/packages
/server/StatusServer/x64
/server/StatusServer/.vs
/server/ChatServer/.vs
/server/ChatServer/x64
/server/ChatServer/packages
/server/ChatServer/ChatServer
/server/ChatServer2/.vs
/server/ChatServer2/x64
/server/ChatServer2/packages
/server/ChatServer2/ChatServer

